/* Body and Global Styling */

body {
background-color: #FFFBE6;	
/*font-color: #356859;
*/ font-family: 'Lekton', sans-serif;
 }


@font-face {
    font-family: Montserrat;
    src: url(sansation_light.woff);
}
@font-face {
    font-family: Lekton;
    src: url(sansation_light.woff);
}

h1{
	color: #FD5523;
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	margin-left: 95px;
	padding-top: 25px;
	margin-top: 0px;
	}

a {
	text-decoration: none;
		color: #356859;
}
p{
		color: #356859;
		margin: 0;

}
/* Head Bar */

.headbar{
	width: 100%;
}
.title{
    position:relative;
    align-content: center;
}

/*.user-box{
	position: relative;
	top: 110px;
	right: 60px;
	float: right;
	padding: 5px 12px;
	padding-left: 4px;
	border-style: solid;
	font-size: 18px;
}

.user-icon {
	height: 15px;
	width: 15px;
	float: left;
	margin: 0px 4px;
}*/

.information-bar{
	height:95px;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-color: #37966F;
}

.logo{
    width:65px;
    position: relative;
    float: left;
    padding-top: 20px;
    margin-left: 1.5%;

}

/*-----------landing page-----------*/

.landinglogo {
	color: #FD5523;
	font-family: 'Montserrat', sans-serif;
	font-size: 95px;
	margin-bottom: 50px;
	padding-top: 165px;
	padding-left: 16%;
	}

.landinglogo img {
	width:95px;
	margin-right: 10px;
}

 #wrap-landingbtn {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
/*	padding-top:2px;
*/	padding-right: 12%;
	padding-left: 12%;		
} 

.landingbtn {
  border-radius: 28;
  border-radius: 28;
  border-radius: 28px;
  font-family: 'Lekton', sans-serif;
  color: #356859;
  font-size: 35px;
  background: #FFFBE6;
  padding: 10px 20px 10px 20px;
  border: solid #356859 2px;
  text-decoration: none;
  cursor: pointer;
 }

.landingbtn:hover {
  background: #B9E4C9;
  text-decoration: none;
}


/*-----------side bar-----------*/

.sidebar{
	height: auto;
	width: 20%;
	margin: 20px 15px;
	border: solid #37966F 2px;
	border-bottom-style: none;
	border-radius: 4px;

	float: left;

}

.sidebar-element{
	font-size: 23px;
	border: solid 2px #37966F;
	border-top: none;
	border-left:none;
	border-right: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 7px 7px 7px 12px;
  	text-decoration: none;
  	cursor: pointer;

}

.sidebar-element img {
	margin-right: 15px;
	width: 60px;
}
.sidebar-element:hover {
	background-color: #B9E4C9;
}

/*-----------search bar-----------*/

.searchbar{

}

input[type=text]#search-input {
	/* thank you w3 schools */
	width: 30%;
    box-sizing: border-box;
    border: 2px solid #37966F;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Lekton'; 
    background-color: #FFFdf2;
    background-image: url("images/searchicon.png");
	background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin: 20px 0px 0px 290px;

}

/*
.category-dropdown {
	
}

.dropdown-button {
	cursor:pointer;
	background-color: green;
	color: white;
	border: none;
}*/

/*.category-content {
	width: 25%;
	display: none;
	background-color: silver;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.category-content a {
	color: red;
	display: block;
}

.category-content a:hover {
	color: blue;
	background-color: grey;
}

.category-dropdown:hover .category-content {
	display: block;
}
*/

/*-----------Item Grid---------*/
h2 {
	font-family: Montserrat;
	color: #FD5523;
	font-size: 15px;
	margin: 17px 0 4px 0;
}
.item_card {
    width: 210px; 
	height: 240px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0 25px 25px 25px;
    text-align: center;
}

.item_pic {
	height: 160px;
	width: 100%;

}
.item_pic img {
	width:170px;
	max-height: 160px;
	align: center;
	vertical-align: middle;
	padding: 8px 0 3px 0;

}
.item_card:hover {
   border: 2px solid #37966F;
   border-radius: 4px;
   transition-duration: 0.3s;
	overflow: hidden; 
	cursor: pointer;
}


.wrap-itemgrid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding-top:10px;
	padding-left: 10px;
}

.alert_link {
	padding: 10px 0 25px 220px;
 }

/*--------itemselected----------*/
.WIP{
	font-size: 50px;
}

/*------My Listing styling----*/
h3 {
	font-family: 'Montserrat', sans-serif;
	color: #356859;
	font-size: 30px;
	text-align: center;

}

.add_item_pic {
	margin-top: 35px;
}

/*------Add Listing styling----*/

.add_item_container {
	width: 67%;
	margin: 25px 25px 0 380px;
/*	border: solid black;
*/
}
.upload_icon {
	color: #356859;
	margin: 25px 0 25px 0px;
}

.upload_icon{
    display:flex;
    flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
   
}

#add-item-icon{
    
}
.listing_details{
    display:flex;
    flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}





