.headbar{

}

.user-box{

}

.sidebar{

}

.sidebar-element{

}

.searchbar{

}

input[type=text]#search-input {
	/* thank you w3 schools */
	width: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("images/searchicon.png");
	background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.category-dropdown {
	
}

.dropdown-button {
	cursor:pointer;
}

.category-content {
	display: none;
	background-color: gray;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.category-content a {
	color: red;
	display: block;
}

.category-content a:hover {
	color: blue;
}

.category-dropdown:hover .category-content {
	display: block;
}


