/* Body and Global Styling */

body {
	
}


a {
	text-decoration: none;
	color: black;
}
/* Head Bar */

.headbar{
	width: 100%;
}
.title{
    position:relative;
    align-content: center;
}

.user-box{
	position: relative;
	top: 110px;
	right: 60px;
	float: right;
	padding: 5px 12px;
	padding-left: 4px;
	border-style: solid;
	font-size: 18px;
}

.user-icon {
	height: 15px;
	width: 15px;
	float: left;
	margin: 0px 4px;
}

.information-bar{
	height:150px;
	width: 100%;
	border-bottom-style: solid;
}

.logo{
    width:140px;
    height:140px;
    position: relative;
    float: left;
}

/* Side Bar */

.sidebar{
	height: auto;
	width: 20%;
	margin: 20px 15px;
	border-style: solid;
	border-bottom-style: none;
	float: left;
}

.sidebar-element{
	font-size: 26px;
	border-bottom-style: solid;
	cursor: pointer;
}

.sidebar-element:hover {
	background-color: silver;
}

/* Search Bar */

.searchbar{

}

input[type=text]#search-input {
	/* thank you w3 schools */
	width: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("images/searchicon.png");
	background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.category-dropdown {
	
}

.dropdown-button {
	cursor:pointer;
	background-color: green;
	color: white;
	border: none;
}

.category-content {
	width: 25%;
	display: none;
	background-color: silver;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.category-content a {
	color: red;
	display: block;
}

.category-content a:hover {
	color: blue;
	background-color: grey;
}

.category-dropdown:hover .category-content {
	display: block;
}


/* Item Grid */

.item-grid {

}

.item-row {
	height:155px;
    
}
.item-row-text{
    height: 50px;
    
}
.item-text{
    position: relative;
    float: right;
    width: 130px;
    padding-right:100px;
}

.item{
    position: relative;
	width: 140px;
	height: 140px;
    float:right;
    padding-right:100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;   
    border-color: darkgray
    
}



#item2{
    position: relative;
  
}

