
/*-----------Item Grid---------*/
h2 {
	font-family: Montserrat;
	color: #FD5523;
	font-size: 15px;
	margin: 17px 0 4px 0;
}

.item_pic {
	height: 160px;
	width: 100%;
	z-index: 1;
}
.item_pic img {
	width:170px;
	max-height: 160px;
	align: center;
	vertical-align: middle;
	padding: 8px 0 3px 0;
	z-index: 1;
}

.wrap-itemgrid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding-top:25px;
	padding-left: 10px;
}

.close_button {
	z-index: 2 !important;
	position: absolute !important;
	right: 5px;
	top: 5px;
	color: #FD5523 !important;
}

.close_button:hover {
	background-color: #FD5523 !important;
	color: white !important;
}

#dialog{
	height: 250px !important;
}

.option-button{
  border-radius: 28px;
  font-family: 'Lekton', sans-serif;
  color: #356859;
  font-size: 18px;
  padding: 0px 30px;
  margin-right: 65px !important;
  background: #FFFBE6;
  border: solid #356859 2px;
  text-decoration: none;
  cursor: pointer;
}